/* Global custom styles go here */
.form-group.required .control-label:after {
   content:"*";
   color:red;
}
.feedback-message {
	padding-top: 20px;
}
.fa-space {
	margin-right: 5px;
}
.panel-body form > button {
    margin-top: 10px;
}
